<!DOCTYPE html>
<html>
<head>
    <title>GEA Inventory data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header-container button {
            margin-left: 10px;
        }
        </style>
</head>
<body>
    <div class = "header-container">
        <h1>GEA</h1>
        <h2>Json data collected: {{ time }}</h2>
        <button> Search</button> <!--add logic for product searching-->
    </div>
    <div class="table-container">
        <table>
        <tr>
            <th>Key Name</th>
            <th>Full shelves</th>
            <th>Parts in level</th>
        </tr>
        {% for key in keys %}
         {% if key != 'time' %} <!--used to exclude the time from the key list  -->
        <tr>
            <!--Link the level details page-->
            <td><a href="{{url_for('level_route', level=key)}}">Level:{{ key }}</a></td>
            <td>{{ gtin_counts[key] }}</td>
            <td>
                <!-- List the unique GTINs for each level -->
                {% for gtin in unique_gtins[key] %}
                    {{ gtin }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <table>
        <tr> 
            <th>PartCode</th>
            <th>Lot</th>
            <th>QTY</th>
        </tr>
        {% for row in sum %}
        <tr>
            <td>{{row['GTIN'] }}</td>
            <td>{{row['Lot'] }}</td>
            <td>{{row['QTY'] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
